# Игнорировать файлы логов
*.log

# Игнорировать каталог с временными файлами
temp/

# Игнорировать конфигурационный файл
config.json

# Игнорировать все файлы .DS_Store на macOS
.DS_Store

node_modules/